<?xml version="1.0" encoding="UTF-8"?>
<beans profile="cloud,cluster,rabbitmq" default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<beans profile="cloud,cluster,rabbitmq">
		<import resource="classpath:org/ironrhino/core/spring/configuration/xml/applicationContext-rabbitmq-base.xml"/>
	</beans>
	<beans profile="cloud,cluster">
		<import resource="classpath:org/ironrhino/core/spring/configuration/xml/applicationContext-rabbitmq-event.xml"/>
	</beans>
</beans>