<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<bean id="sessionFactory" class="org.ironrhino.core.hibernate.SessionFactoryBean"
		p:excludeFilter="${hibernate.sessionFactory.excludeFilter:}">
		<property name="mappingLocations">
			<list>
				<value>
					classpath*:resources/hibernate/**/*.hbm.xml
				</value>
			</list>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager"
		p:defaultTimeout="${hibernate.transaction.defaultTimeount:-1}" />
	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	<tx:annotation-driven order="0" proxy-target-class="true" />
</beans>
