<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http pattern="/assets/**" security="none" />
	<security:http pattern="/remoting/**" security="none" />
	<security:http use-expressions="true" entry-point-ref="entryPoint" access-decision-manager-ref="accessDecisionManager">
		<security:access-denied-handler error-page="/error/401"/>
		<security:headers disabled="true"/>
		<security:csrf disabled="true"/>
		<security:x509 subject-principal-regex="CN=(.*?)," user-service-ref="userDetailsService"/>
		<security:intercept-url pattern="/login*/**" access="permitAll" />
		<security:intercept-url pattern="/oauth*/**" access="permitAll" />
		<security:intercept-url pattern="/locale" access="permitAll" />
		<security:intercept-url pattern="/setup" access="permitAll" />
		<security:intercept-url pattern="/api/**" access="permitAll" />
		<security:intercept-url pattern="/signup*/**" access="hasRole('ROLE_BUILTIN_ANONYMOUS')" />
		<security:intercept-url pattern="/signin*/**" access="hasRole('ROLE_BUILTIN_ANONYMOUS')" />
		<security:intercept-url pattern="/common/upload" access="hasRole('ROLE_BUILTIN_USER')" />
		<security:intercept-url pattern="/common/**" access="hasRole('ROLE_ADMINISTRATOR')" />
		<security:intercept-url pattern="/**" access="hasRole('ROLE_BUILTIN_USER')" />
		<security:session-management session-fixation-protection="migrateSession" />
		<security:remember-me services-ref="rememberMeServices" />
		<security:anonymous granted-authority="ROLE_BUILTIN_ANONYMOUS" username="anonymousUser" key="anonymous" />
		<security:logout logout-url="/logout" invalidate-session="true" success-handler-ref="logoutSuccessHandler" />
		<security:custom-filter ref="authenticationFilter" position="FORM_LOGIN_FILTER" />
		<!-- <security:intercept-url pattern="/switch" access="ROLE_ADMINISTRATOR"/> 
			<security:intercept-url pattern="/exit" access="ROLE_PREVIOUS_ADMINISTRATOR"/> 
			<security:custom-filter ref="switchUserProcessingFilter" position="SWITCH_USER_FILTER"/> -->
	</security:http>
</beans>