select , input[type="text"] , input[type="password"] , input[type="file"] , input[type="datetime"] , input[type="datetime-local"] , input[type="date"] , input[type="month"] , input[type="time"] , input[type="week"] , input[type="number"] , input[type="email"] , input[type="url"] , input[type="search"] , input[type="tel"] , input[type="color"] , .uneditable-input {
	line-height: 1em;
}

input[type="file"] {
	cursor: pointer;
	padding: 1px 7px;
	height: 28px;
}

input[type="file"]::-webkit-file-upload-button {
	cursor: pointer;
	border: 1px solid #aaaaaa;
	border-radius: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background: linear-gradient(to bottom, efefef, #dedede, #efefef);
}

select {
	height: 30px;
	text-indent: 0.01px;
	text-overflow: '';
	padding-right: 16px;
	background-image: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='50px'%20height='50px'><polyline%20points='46.139,15.518%2025.166,36.49%204.193,15.519'%20fill='rgba(0,0,0,.3)'/></svg>");
	background-size: 15px;
	background-position: calc(100% - 5px);
	background-repeat: no-repeat;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
}

select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

::-ms-expand {
	display: none;
}

select.input-medium {
	width: 164px;
}

select.input-large {
	width: 224px;
}

select.input-xlarge {
	width: 284px;
}

select.input-xxlarge {
	width: 544px;
}

.form-inline {
	line-height: 30px;
}

.form-inline button , .form-horizontal .controls button {
	vertical-align: top;
	border-radius: 4px;
}

.form-horizontal fieldset {
	min-width: inherit;
}

.form-horizontal label , .form-horizontal .controls {
	line-height: 30px;
}

.form-horizontal .control-label {
	width: 100px;
	padding: 0;
	margin: 0;
}

.form-horizontal .controls {
	margin-left: 120px;
}

.form-horizontal .form-actions {
	padding-left: 120px;
}

.form-horizontal.label-large .control-label {
	width: 160px;
}

.form-horizontal.label-large .controls {
	margin-left: 180px;
}

.form-horizontal.label-large .form-actions {
	padding-left: 180px;
}

.form-horizontal .span2 .control-label , .form-horizontal .span1 .control-label {
	width: 60px;
}

.form-horizontal .span2 .controls , .form-horizontal .span1 .controls {
	margin-left: 80px;
}

.form-horizontal .span3 .control-label {
	width: 80px;
}

.form-horizontal .span3 .controls {
	margin-left: 90px;
}

.form-horizontal .row .span3 .controls input:not([class *= "input-"]) , .form-horizontal .row .span3 .controls .uneditable-input:not([class *= "input-"]) {
	width: 180px;
}

.form-horizontal .row .span3 .controls select:not([class *= "input-"]) {
	width: 194px;
}

.form-horizontal .span6 .control-label {
	width: 180px;
}

.form-horizontal .span6 .controls {
	margin-left: 200px;
}

.form-horizontal .control-label {
	font-weight: bold;
	font-style: italic;
}

div.form-horizontal .control-label {
	cursor: text;
}

.form-horizontal .control-group {
	margin-bottom: 10px;
}

.form-horizontal .control-group:empty {
	margin-bottom: 0;
}

.form-actions {
	padding: 10px 20px 10px;
}

.filepick .filepick-handle {
	cursor: pointer;
	margin-right: 5px;
}

.hero-unit .form-horizontal {
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
}

@media (max-width: 960px) {
	.form-horizontal .control-label {
		width: 60px;
	}

	.form-horizontal .controls {
		margin-left: 80px;
	}

	.form-horizontal .form-actions {
		padding-left: 40px;
	}
}

td input , td textarea , td select , td .uneditable-input {
	margin-bottom: 0px ! important;
}

th.radio , th.checkbox , td.radio , td.checkbox {
	padding: 0;
	text-align: center;
	vertical-align: middle;
}

th.radio input[type="radio"] , th.checkbox input[type="checkbox"] , td.radio input[type="radio"] , td.checkbox input[type="checkbox"] {
	float: none ! important;
	margin: 0;
}

input.integer , input.long , input.double , input.date , input.datetime , input.time , input.yearmonth {
	font-family: Arial;
}

input.integer , input.long , input.double {
	width: 100px;
}

input.double.large {
	width: 150px;
}

input.long {
	width: 150px;
}

input.date {
	width: 70px ! important;
}

input.datetime {
	width: 125px ! important;
}

input.time , input.yearmonth {
	width: 50px ! important;
}

input.latlng {
	width: 180px ! important;
}

.error input.required:not(:disabled):not([type="radio"]):not([type="checkbox"]) , input.required:focus:not([type="radio"]):not([type="checkbox"]) , input.required:hover:not(:disabled):not([type="radio"]):not([type="checkbox"]) {
	background-image: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='6'%20height='6'%20viewBox='0%200%201000%201000'><path%20d='M990,430l-408.7,16.4L818.7,80L689.1,10L500,395L311.5,10L181.3,80l237.3,366.4L10,430v140l405.9-22L188.6,920L311,990l189-385l189,385l122.4-70L584.1,548L990,570L990,430z'%20fill='red'/></svg>");
	background-position: calc(100% - 2px);
	background-repeat: no-repeat;
}

textarea {
	height: 150px;
	resize: vertical;
}

textarea.container , input.container , select.container {
	box-sizing: border-box;
}

input.container , select.container {
	height: 30px;
}

select.empty {
	color: #ccc;
}

select.empty option {
	color: #000;
}

input::-ms-reveal , input::-ms-clear {
	display: none;
}

button.plain {
	border: none;
	background-color: transparent;
	padding: 0;
	margin-top: -2px;
}

button.loading {
	position: relative;
	color: transparent ! important;
}

button.loading:before , button.loading:after {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	margin: -.7em 0 0 -.7em;
	width: 1em;
	height: 1em;
	border-radius: 500rem;
	border: .2em solid rgba(0, 0, 0, .15);
}

button.loading:after {
	animation: fa-spin 1s infinite steps(8);
	border-color: #fff transparent transparent;
	box-shadow: 0 0 0 1px transparent;
}

span.checkboxgroup {
	display: inline-block;
	margin: 0 20px;
}

.checkboxgroup label.group {
	display: inline;
	font-weight: bold;
	font-size: 1.1em;
	margin: 0 10px 10px 0;
}

.checkboxgroup label.group input[type="checkbox"] {
	margin-right: 5px;
	height: 10px;
}

.control-group.error .glyphicon , .control-group.error .controls span , .control-group.error .controls a.remove , span.field-error {
	color: #b94a48;
}

input.error , select.error , textarea.error {
	border-color: #b94a48;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	color: #b94a48;
}

input.error:focus , select.error:focus , textarea.error:focus {
	border-color: #953b39;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.control-group span.tip {
	margin-left: 10px;
	opacity: .7;
	font-style: italic;
}

strong.force-override {
	cursor: pointer;
}

.field-error-popover {
	position: absolute;
	z-index: 10;
}

.field-error-popover .field-error-content {
	text-align: left;
	width: 100%;
	background: #fcf8e3;
	position: relative;
	color: #b94a48;
	min-width: 100px;
	max-width: 300px;
	border: 1px solid #b94a48;
	padding: 4px 15px 4px 10px;
	line-height: 20px;
	border-radius: 6px;
	white-space: pre-wrap;
	word-break: break-all;
}

.field-error-content:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #b94a48;
	position: absolute;
	bottom: auto;
	top: -7px;
	left: 10px;
	height: 0;
}

.field-error-content:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fcf8e3;
	position: absolute;
	bottom: auto;
	top: -6px;
	left: 11px;
	height: 0;
}

.input-append .field-error-content {
	font-size: 13px;
}

.hero-unit .field-error-content {
	font-size: 13px;
	line-height: 20px;
}

.field-error-popover a.remove {
	position: absolute;
	top: 0;
	right: 2px;
	font-size: 12px;
	width: 12px;
}

.input-error {
	border-color: red ! important;
}

img.captcha {
	height: 25px;
	width: 100px;
	cursor: pointer;
	vertical-align: middle;
}

.combobox .dropdown-menu li.group > a:hover {
	cursor: default;
	color: #333333;
	background-color: transparent;
	background-image: none;
}

input[type="checkbox"] , input[type="radio"] {
	position: relative;
	width: 16px;
	height: 16px;
	margin: 0;
	margin-top: -3px;
	outline: 0 ! important;
	background-color: #fafafa;
	border: 1px solid #cacece;
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type="checkbox"]:hover , input[type="radio"]:hover {
	border-color: #666;
}

input[type="checkbox"] {
	border-radius: 3px;
}

input[type="radio"] {
	border-radius: 100%;
}

input[type="checkbox"]:checked {
	background: #3b99fc;
	border: 1px solid #3b99fc;
}

input[type="checkbox"]:checked:after {
	content: '\F00C';
	font: normal normal normal 14px / 1 FontAwesome;
	transform: scale(.8);
	position: absolute;
	color: #fff;
}

input[type="radio"]:checked {
	background: #fff;
}

input[type="radio"]:checked:after {
	content: ' ';
	width: 8px;
	height: 8px;
	border-radius: 100%;
	position: absolute;
	top: 3px;
	background: #3b99fc;
	left: 3px;
	font-size: 32px;
}

.control-group.error input[type="checkbox"] , .control-group.error input[type="radio"] , input.error[type="checkbox"] , input.error[type="radio"] {
	border-color: #b94a48;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.controls > .radio:first-child , .controls > .checkbox:first-child {
	padding-top: 0;
}

.radio.inline , .checkbox.inline {
	padding-top: 0;
	vertical-align: top;
}

.radio.inline:first-child , .checkbox.inline:first-child {
	margin-right: 20px;
}

.radio.inline + .radio.inline , .checkbox.inline + .checkbox.inline {
	margin-left: 0;
	margin-right: 20px;
}

.radio.inline input[type="radio"] , .checkbox.inline input[type="checkbox"] {
	float: none;
	margin-right: 5px;
}

.input-append.search input {
	box-shadow: none;
	border-right: 0;
	padding-left: 10px;
	padding-right: 0;
	border-radius: 1rem 0 0 1rem;
}

.input-append.search .add-on {
	background-color: #fff;
	border: 1px solid #ccc;
	border-left: 0;
	margin-left: 0;
	border-radius: 0 1rem 1rem 0;
}

.input-append.search input[type="text"]:focus ~ .add-on {
	border-color: rgba(82, 168, 236, 0.8);
}

div.preview {
	vertical-align: top;
	padding: 4px 6px;
	display: inline-block;
	overflow: auto;
	white-space: pre-wrap;
	word-break: break-all;
	line-height: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

code.block {
	display: block;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.error div.preview {
	border-color: #b94a48;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

div.preview span.comment {
	font-style: italic;
	color: #999;
}

div.preview strong {
	color: #0da4d3;
	font-weight: normal;
}

div.sqleditor.preview {
	min-width: 90%;
}

form.attachmentable ul.thumbnails {
	min-height: 50px;
}

form.attachmentable ul.thumbnails li {
	position: relative;
}

form.attachmentable ul.thumbnails li .remove {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 2em;
}

.form-horizontal .controls .unstyled {
	padding-bottom: 0;
	margin-bottom: 0;
}

.form-horizontal .controls li .unstyled {
	margin-bottom: 10px;
}

.form-horizontal .controls .unstyled em {
	margin-right: 10px;
}

div.listpick-name , div.treeselect-name {
	display: inline-block;
}

div.listpick-name:focus , div.treeselect-name:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
}

td:focus {
	outline: 0;
	box-shadow: inset .1px .1px 1px 2px rgba(82, 168, 236, .6);
}

@-moz-document  url-prefix() {
    .form-horizontal fieldset {
	display: table-cell;
}

}

