.toolbar > [class *= "span"] {
	margin-top: 0;
	margin-bottom: 0;
}

.toolbar .action {
	text-align: center;
}

.toolbar .status {
	line-height: 30px;
	text-align: right;
}

@media (min-width: 480px) and (max-width: 767px) {
	.toolbar .pagination .pageNo {
		display: none;
	}

	.toolbar .status .recordLabel {
		display: none;
	}

	.toolbar .pagination[class *= "span"] {
		width: 30%;
		float: left;
	}

	.toolbar .action[class *= "span"] {
		width: 40%;
		float: left;
	}

	.toolbar .search[class *= "span"] {
		width: 20%;
		float: left;
	}

	.toolbar .status[class *= "span"] {
		width: 10%;
		float: left;
	}
}

@media (max-width: 479px) {
	.toolbar .action {
		text-align: left;
	}

	.toolbar .search {
		padding-top: 4px;
	}

	.toolbar .status {
		text-align: left;
	}
}

.toolbar .pagination {
	margin: 0;
}

.toolbar .pagination ul {
	box-shadow: none;
}

.toolbar .pagination .inputPage {
	width: 25px;
	height: 20px;
	padding-top: 5px;
	padding-bottom: 3px;
	line-height: 29px;
	text-align: right;
}

.toolbar .pagination .totalPage {
	min-width: 25px;
	height: 20px;
	line-height: 20px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 3px;
	font-family: Arial;
}

.toolbar .pagination .pageSize {
	border: 1px solid #ddd;
	border-radius: 3px;
	width: 60px;
	height: 30px;
	line-height: 20px;
	margin: 0;
}

.toolbar .pagination a[href] .glyphicon {
	color: #555;
}

.toolbar .input-append.search {
	margin: 0;
}

.toolbar input[name="keyword"] {
	margin: 0;
	width: 100px;
	transition: width .2s ease-in .5s;
}

.toolbar input[name="keyword"]:focus {
	width: 100%;
}

.toolbar.pagination ul {
	border-radius: 0;
	box-shadow: none;
}

.toolbar .pagination a {
	padding: 0 8px;
	line-height: 28px;
}

.toolbar .pagination li.disabled a i {
	opacity: 0.50;
}

.toolbar .pagination li.firstPage a {
	border-radius: 3px 0 0 3px;
}

.toolbar .pagination li.lastPage a {
	border-radius: 0 3px 3px 0;
}

.toolbar .pagination span.input-append {
	padding: 0 4px;
	line-height: 20px;
	background-color: transparent;
	border: 0;
	margin: 0px;
}

.toolbar .pagination span.add-on {
	float: none;
}

.toolbar .pagination span.divider {
	float: none;
	padding: 0;
	line-height: 20px;
	background-color: transparent;
	border: 0;
}

