.window-richtable form:first-child {
	padding-top: 20px;
}

.window-richtable form:first-child textarea.input-xxlarge , .window-richtable form input.input-xxlarge {
	width: 515px;
}

.window-listpick form.criteria select {
	width: 200px;
}

table.richtable {
	margin-bottom: 10px;
}

table.richtable thead {
	background-color: #efefef;
	background-image: linear-gradient(to bottom, #efefef, #dedede, #efefef);
}

table.richtable td , table.richtable th {
	padding: 0.5em;
	height: 30px;
	vertical-align: middle;
	word-break: break-all;
}

table.richtable th {
	min-width: 50px;
	padding: 0.5em 0;
	line-height: 200%;
}

table.richtable th.checkbox , table.richtable th.radio {
	max-width: 50px;
	width: 50px;
}

table.richtable td {
	word-wrap: break-all;
	white-space: pre-wrap;
	position: relative;
}

table.richtable td a.remove {
	display: none;
	position: absolute;
	top: 1px;
	right: 1px;
	line-height: 1em;
}

table.richtable td:hover a.remove {
	display: block;
}

table.richtable tfoot td {
	white-space: nowrap;
}

.richtable th {
	text-align: center;
}

.richtable table td.action {
	white-space: nowrap;
}

.richtable table td.action ul.dropdown-menu {
	min-width: 100px;
}

.richtable table td.action .btn-group:last-child ul.dropdown-menu {
	left: -73px;
}

.richtable tbody input.text , .richtable tbody textarea.text {
	width: calc(100% - 14px);
	margin: 0;
}

.richtable tbody input.radio {
	width: auto;
	margin: 0;
}

.richtable tbody select {
	width: 100%;
	margin: 0;
}

.richtable tr.selected td {
	background-color: #ffc ! important;
}

.richtable td.edited {
	background-color: #fff3f0 ! important;
}

table.richtable a .glyphicon {
	color: #404040;
}

table.richtable a:hover .glyphicon , table.richtable a:focus .glyphicon {
	color: #005580;
}

table.criteria {
	margin-bottom: 0;
}

table.ordering tfoot {
	background-color: transparent;
}

.toolbar .btn[data-action="save"] {
	display: none;
}

form.query {
	margin-bottom: 10px;
}

form.query div.row , form.query div.row-fluid {
	border: 1px solid #ddd;
	box-sizing: border-box;
}

form.query div.row , form.query div.row [class *= "span"] {
	margin-left: 0;
}

form.query.folded div.row , form.query.folded div.row-fluid {
	border-top-width: 0;
	border-bottom-width: 0;
}

form.query.folded div.row:first-of-type , form.query.folded div.row-fluid:first-of-type {
	border-top-width: 1px;
	padding-top: 10px;
	border-radius: 4px 4px 0 0;
}

form.query.folded .tab-pane.active div.row:first-of-type , form.query.folded .tab-pane.active div.row-fluid:first-of-type {
	border-top-width: 0;
	margin-top: -20px;
	border-radius: 0;
}

form.query.folded .tab-pane.active div.row:last-of-type , form.query.folded .tab-pane.active div.row-fluid:last-of-type {
	border-bottom-width: 1px;
	margin-bottom: 6px;
	border-radius: 0 0 4px 4px;
}

form.query:not(.folded) div.row , form.query:not(.folded) div.row-fluid {
	padding-top: 10px;
	margin-bottom: 5px;
	border-radius: 4px;
}

form.query div.form-actions {
	padding: 0;
	text-align: center;
	border-top: 0;
	background-color: transparent;
	margin-top: 0;
	margin-bottom: 10px;
}

form.query div.fold {
	border-top: 1px solid #ddd;
	margin-bottom: -25px;
	transition: border-color .15s ease-in-out;
}

form.query div.fold span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-top: -1px;
	padding: 0 40px;
	color: #ddd;
	border: 1px solid #ddd;
	border-top-color: #fff;
	border-radius: 0 0 4px 4px;
	cursor: pointer;
}

form.query div.fold:hover span {
	color: #888;
}

