.datagrided tbody > tr > td > .manipulate[class *= "glyphicon-"] {
	opacity: 0;
}

.datagrided tbody > tr:hover > td > .manipulate[class *= "glyphicon-"] {
	opacity: 0.6;
}

.datagrided td.manipulate, .datagrided th.manipulate{
	width : 40px;
	padding-left : 10px;
	text-align : left;
}

.datagrided [class *= "glyphicon-"] {
	margin: 3px;
}

.datagrided td > select, .datagrided td > .input-append, .datagrided td > .input-prepend, .datagrided td > table.datagrided{
	width: 100%;
}

.datagrided td > input, .datagrided td > textarea, .datagrided td > .uneditable-input{
	width: 92%;
	width: calc(100% - 14px);
}

.datagrided td > .input-append > input, .datagrided td > .input-prepend > input {
	width: 90%;
	width: calc(100% - 44px);
}