.treeselect-inline {
	display: inline-block;
	border: 1px solid #cccccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	line-height: 28px;
	transition: box-shadow .1s ease, width .1s ease;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	color: rgba(0, 0, 0, .87);
	width: 220px;
	box-sizing: border-box;
	user-select: none;
	text-align: left;
}

.control-group.error .treeselect-inline , .treeselect-inline.error {
	border-color: #b94a48;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.treeselect-inline.input-medium {
	width: 164px;
}

.treeselect-inline.input-large {
	width: 224px;
}

.treeselect-inline.input-xlarge {
	width: 284px;
}

.treeselect-inline.input-xxlarge {
	width: 554px;
}

.datagrided.adaptive td > .treeselect-inline {
	width: 100%;
}

.treeselect-inline.readonly , .treeselect-inline.disabled {
	cursor: not-allowed;
	background-color: #eeeeee;
}

.treeselect-inline > .text {
	position: relative;
	padding-left: 5px;
	left: 0;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(100% - 30px);
	overflow: hidden;
	vertical-align: top;
}

.treeselect-inline > .glyphicon {
	display: inline-block;
	line-height: 28px;
	margin: 0 5px 0 0;
	color: #999;
	float: right;
}

.treeselect-inline > .glyphicon-remove {
	display: none;
}

.treeselect-inline:not(.readonly):not(.disabled):hover > .text:not(:empty) ~ .glyphicon-remove {
	display: inline-block;
}

.treeselect-inline:not(.readonly):not(.disabled):hover > .text:not(:empty) ~ .glyphicon-menu-down {
	display: none;
}

.treeselect-inline > .options {
	display: none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	position: absolute;
	top: calc(100% + 5px);
	left: 0;
	z-index: 10;
	min-width: 100%;
	background: #fff;
}

.treeselect-inline > .options .treeview {
	padding-left: 5px;
}

.control-group.error .treeselect-inline > .options a span, .treeselect-inline.error > .options a span{
	color: #000;
}

