#popup-overlay {
	position: fixed;
	z-index: 99998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	opacity: .6;
}

#popup-container {
	position: fixed;
	z-index: 99999;
	padding: 0;
	margin: 0;
	min-width: 300px;
	max-width: 600px;
	background: #fff;
	border: solid 8px #999;
	color: #000;
	border-radius: 8px;
	animation: popup 0.3s;
}

@keyframes popup {
	0% {
		transform: scale(0.7);
	}

	45% {
		transform: scale(1.05);
	}

	80% {
		transform: scale(0.95);
	}

	100% {
		transform: scale(1);
	}
}

#popup-container .popup-title {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #666;
	background: #ccc;
	background-image: linear-gradient(to bottom, #ccc, #a7a7a7, #ccc);
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
	white-space: pre-wrap;
}

#popup-container .popup-content {
	padding: 1em 1.75em;
	margin: 0em;
}

#popup-container .popup-content.info , #popup-container .popup-content.prompt {
	background-color: #d9edf7;
	color: #3a87ad;
}

#popup-container .popup-content.success {
	background-color: #dff0d8;
	color: #3c763d;
}

#popup-container .popup-content.warning {
	background-color: #fcf8e3;
	color: #8a6d3b;
}

#popup-container .popup-content.confirm {
	background-color: #fcf8e3;
	color: #c09853;
}

#popup-container .popup-content.error {
	background-color: #f2dede;
	color: #a94442;
}

#popup-container .popup-icon {
	text-align: center;
	height: 40px;
	font-size: 28px;
}

#popup-container .popup-message {
	font-size: 15px;
	text-align: center;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
}

#popup-container .popup-panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup-container .popup-prompt {
	margin: .5em 0em;
}

#popup-container .popup-panel button {
	border: 0;
	border-radius: 3px;
	box-shadow: none;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	margin: 15px 5px 0;
	padding: 10px 22px;
}

#popup-container .popup-ok {
	background-color: #3085d6;
}

#popup-container .popup-ok:hover {
	background-color: #3276b1;
}

#popup-container .success .popup-ok {
	background-color: #5cb85c;
}

#popup-container .success .popup-ok:hover {
	background-color: #47a447;
}

#popup-container .warning .popup-ok {
	background-color: #f0ad4e;
}

#popup-container .warning .popup-ok:hover {
	background-color: #ed9c28;
}

#popup-container .error .popup-ok {
	background-color: #dd3333;
}

#popup-container .error .popup-ok:hover {
	background-color: #d2322d;
}

#popup-container .popup-cancel {
	background-color: #c0c0c0;
}

#popup-container .popup-cancel:hover {
	background-color: #b0b0b0;
}

