.treeselect-inline > .options {
	display: none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
	position: absolute;
	top: calc(100% + 5px);
	left: 0;
	z-index: 100;
	min-width: 100%;
	background: #fff;
}

.treeselect-inline > .options .treeview {
	padding-left: 5px;
}

.control-group.error .treeselect-inline > .options a span , .treeselect-inline.error > .options a span {
	color: #000;
}

