/*override bootstrap start*/
body.main {
	padding-top: 60px;
	padding-bottom: 10px;
}

@media (max-width: 979px) {
	body.main {
		padding-top: 0;
		padding-bottom: 0;
	}
}

body {
	padding-top: 0;
	padding-bottom: 0;
	font-family: Tahoma, 'Microsoft Yahei', sans-serif;
}

.center {
	text-align: center;
}

.table.middle th , .table.middle td {
	vertical-align: middle;
}

td.center {
	text-align: center;
}

td.middle {
	vertical-align: middle;
}

td.compact-horizontal {
	padding-left: 0;
	padding-right: 0;
}

.table-fixed {
	table-layout: fixed;
}

.table-fixed > thead > tr > th , .table-fixed > thead > tr > td , .table-fixed > tbody > tr > td {
	word-wrap: break-word;
	word-break: break-all;
}

.navbar-fixed-top , .navbar-fixed-bottom {
	z-index: 1000;
	font-size: 1.2em;
}

.navbar-fixed-top ul.nav > li {
	border-top: solid 2px transparent;
}

.navbar-fixed-top ul.nav > li.active {
	font-weight: bold;
	border-top: solid 2px #777 ! important;
}

.navbar-fixed-top ul.nav > li:hover {
	color: black;
	border-top: solid 2px #ccc;
}

.dropdown-menu .btn-group .btn {
	background-image: none;
}

.well .nav-tabs > .active > a , .well .nav-tabs > .active > a:hover , .well .nav-tabs > .active > a:focus {
	background-color: #f5f5f5;
}

.popover {
	white-space: pre-wrap;
}

.modal {
	z-index: 2050;
}

.modal-backdrop {
	z-index: 2040;
}

.modal.pop .modal-body {
	max-height: none;
}

.tab-content {
	overflow: visible;
}

.container-fluid .thumbnails .span6 {
	width: calc((100% - 40px) / 2);
}

.container-fluid .thumbnails .span4 {
	width: calc((100% - 60px) / 3);
}

.container-fluid .thumbnails .span3 {
	width: calc((100% - 80px) / 4);
}

.container-fluid .thumbnails .span2 {
	width: calc((100% - 120px) / 6);
}

@media (min-width: 1200px) {
	.container-fluid .thumbnails .span6 {
		width: calc((100% - 60px) / 2);
	}

	.container-fluid .thumbnails .span4 {
		width: calc((100% - 90px) / 3);
	}

	.container-fluid .thumbnails .span3 {
		width: calc((100% - 120px) / 4);
	}

	.container-fluid .thumbnails .span2 {
		width: calc((100% - 180px) / 6);
	}
}

.ui-widget {
	font-size: 1em;
}

.ui-widget-content .breadcrumb a , .ui-widget-content td a {
	color: #0088cc;
}

.ui-icon.close {
	opacity: 1;
}

.ui-dialog-titlebar-close , a.close , a.remove , .modal-close button.close {
	transition: all 0.5s ease;
}

.ui-dialog-titlebar-close:hover , a.close:hover , a.remove:hover , .modal-close button.close:hover {
	transform: rotate(360deg);
}

body.welcome {
	padding-top: 10%;
	background-color: #dedede;
	background-image: linear-gradient(to bottom, #efefef, #dedede, #efefef);
}

body.welcome .caption {
	text-align: center;
	border-radius: 20px;
	background-color: #e6e6e6;
	background-image: linear-gradient(to bottom, #fff, #e6e6e6);
}

body.welcome .hero-unit .message-container {
	margin-top: -30px;
	font-size: 15px;
}

body.welcome .hero-unit form {
	border-width: 10px;
	border-radius: 40px;
}

body.welcome .hero-unit button[type="submit"]:only-child {
	width: 170px;
	height: 30px;
	font-size: 18px;
	border: 0;
}

body.welcome[lang="zh"] .hero-unit button[type="submit"]:only-child {
	letter-spacing: 15px;
	text-indent: 10px;
}

@media (orientation: landscape) and (max-height: 400px) {
	body.welcome {
		padding-top: 0;
	}

	body.welcome .caption {
		margin-top: -40px;
	}
}

@media (orientation: portrait) and (max-width: 400px) {
	body.welcome .hero-unit form {
		border-width: 10px;
		border-radius: 4px;
	}
}

@media (max-width: 400px) , (min-width: 768px) and (max-width: 979px) {
	.hero-unit {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 960px) {
	body.welcome .form-actions {
		text-align: center;
	}
}

@media (min-width: 961px) and (max-width: 979px) {
	body.welcome .hero-unit button[type="submit"]:only-child {
		width: 108px;
	}

	body.welcome .form-horizontal .control-label {
		width: 80px;
	}

	body.welcome .form-horizontal .controls {
		margin-left: 100px;
	}

	body.welcome .form-horizontal .form-actions {
		padding-left: 100px;
	}
}

@media (min-width: 980px) and (max-width: 1200px) {
	body.welcome .hero-unit button[type="submit"]:only-child {
		width: 140px;
	}

	body.welcome .form-horizontal .control-label {
		width: 70px;
	}

	body.welcome .form-horizontal .controls {
		margin-left: 90px;
	}

	body.welcome .form-horizontal .form-actions {
		padding-left: 90px;
	}
}

#indicator {
	position: fixed;
	z-index: 10000;
	left: 50%;
	top: 0px;
	height: 24px;
	min-width: 80px;
	float: right;
	font-weight: bold;
	padding: 0 10px 0 2px;
	background: #FFEF7A;
	margin-left: -60px;
	border-radius: 0px 0px 5px 5px;
}

#indicator.error {
	background: #F00;
}

#progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
	opacity: 0;
	transition: opacity 0.4s linear 0.4s;
}

#progress-bar .progress {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10001;
	width: 0;
	height: 3px;
	background: #77b6ff;
	box-shadow: 0 0 10px rgba(119, 182, 255, 0.7);
	transition: width 0.4s ease;
}

.spinner {
	position: relative;
	margin: 0 auto;
	width: 50px;
	height: 50px;
}

.spinner:before , .spinner:after {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	width: 20px;
	height: 20px;
	content: "";
	border-radius: 10px;
}

.spinner:before {
	left: 0;
	background-color: #28aadc;
	animation: spinner-left 0.5s infinite ease;
}

.spinner:after {
	right: 0;
	background-color: #ff3c50;
	animation: spinner-right 0.5s infinite ease;
}

@keyframes spinner-left {
	0% {
		transform: scale(0.5);
	}

	50% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.5);
	}
}

@keyframes spinner-right {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

#nav-breadcrumb {
	font-size: 1.1em;
	margin-bottom: 10px;
}

#powered-by {
	color: transparent;
	font-size: 1.5em;
	text-align: center;
	cursor: none;
	margin: auto 30%;
	transition: all 0.5s ease;
}

#powered-by:hover {
	color: grey;
}

.btn:focus , a:focus {
	outline: none;
}

.btn-group .active {
	cursor: default;
}

#treeview li.highlight {
	font-weight: bold;
}

.highlight {
	background: #FF6;
}

p {
	white-space: pre-wrap;
	word-break: break-all;
}

.controls p {
	margin-bottom: 0;
}

thead , tfoot {
	background-color: #EEE;
}

td.fieldlabel {
	width: 100px;
	text-align: right;
	font-weight: bold;
	background-color: #eee;
}

ul.attributes li {
	display: block;
	float: left;
	width: 200px;
	overflow: hidden;
	margin-right: 20px;
	padding-top: 5px;
	text-indent: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

ul.attributes li span.value {
	padding-left: 10px;
}

ul.attributes span.group {
	font-weight: bold;
}

ul.attributes li.group ul {
	padding-left: 10px;
}

a.remove {
	font-weight: bold;
	color: #000;
	margin-left: 5px;
	cursor: pointer;
	opacity: 0.2;
}

a.remove:hover , a.remove:focus {
	text-decoration: none;
	opacity: 0.4;
}

.loading {
	pointer-events: none;
}

.drophover {
	border: 2px dashed #333 ! important;
}

.clickable[class *= "glyphicon-"] {
	opacity: .2;
	cursor: pointer;
}

.clickable[class *= "glyphicon-"]:hover {
	opacity: .8 ! important;
}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.codeblock {
	font-family: consolas;
}

.ellipsis {
	max-height: 40px;
	overflow: hidden ! important;
}

[data-shown] {
	display: none;
}

[data-tooltip] {
	position: relative;
}

[data-tooltip]:before {
	content: "";
	position: absolute;
	border-top: 20px solid #a1a1a8;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	visibility: hidden;
	top: -18px;
	left: -26px;
}

[data-tooltip]:after {
	content: attr(data-tooltip);
	position: absolute;
	color: white;
	top: -35px;
	left: -26px;
	background: #a1a1a8;
	padding: 5px 15px;
	border-radius: 10px;
	white-space: nowrap;
	visibility: hidden;
}

[data-tooltip]:hover:before , [data-tooltip]:hover:after {
	visibility: visible;
	transition: visibility 0s linear .3s;
}

.modal-close .close {
	width: 20px;
	font-family: Tahoma, 'Microsoft Yahei', sans-serif;
}

.modal-close ~ .modal-body {
	margin-top: 20px;
	padding: 0 20px 20px 20px;
}

.modal-large {
	position: absolute;
}

.modal-large .modal-body {
	max-height: none;
}

@media (min-width: 980px) and (max-width: 1024px) {
	.hidden-pad {
		display: none ! important;
	}
}

