.wave {
	position: relative;
	overflow: hidden;
}

.wave .ripple {
	position: absolute;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	opacity: 0;
	background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
	transition: all 0.5s ease-out;
	transition-property: transform, opacity;
	transform: scale(0) translate(0, 0);
	pointer-events: none;
}

.wave .poped{
	pointer-events: none;
}
