.input-pseudo {
	display: inline-block;
	background-color: #fff;
	border: 1px solid #cccccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	line-height: 28px;
	transition: box-shadow .1s ease, width .1s ease;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	color: rgba(0, 0, 0, .87);
	min-height: 30px;
	box-sizing: border-box;
	user-select: none;
	text-align: left;
}

.input-pseudo:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
}

.control-group.error .input-pseudo , .input-pseudo.error , .input-pseudo.error input {
	border-color: #b94a48;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	color: #b94a48;
}

.input-pseudo:not([class *= "span"]) {
	width: 220px;
}

.input-pseudo.input-small {
	width: 90px;
}

.input-pseudo.input-medium {
	width: 164px;
}

.input-pseudo.input-large {
	width: 224px;
}

.input-pseudo.input-xlarge {
	width: 284px;
}

.input-pseudo.input-xxlarge {
	width: 544px;
}

.datagrided.adaptive td > .input-pseudo , .datagrided.adaptive td > div:only-child > .input-pseudo {
	width: 100%;
}

.input-pseudo[class *= "span"] , .row-fluid .input-pseudo[class *= "span"] {
	float: none;
	margin-left: 0;
}

.input-pseudo.readonly , .input-pseudo.disabled {
	cursor: not-allowed;
	background-color: #eeeeee;
}

.input-pseudo > input , .input-pseudo > select {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	padding: 0;
	border: 0;
}

.input-pseudo > .text {
	position: relative;
	padding-left: 5px;
	left: 0;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(100% - 25px);
	overflow: hidden;
	vertical-align: top;
}

.input-pseudo > .glyphicon {
	position: absolute;
	top: 0;
	right: 5px;
	line-height: 28px;
	color: rgba(0, 0, 0, .3);
}

.input-pseudo:not(.readonly):not(.disabled) > .glyphicon:hover {
	opacity: 1;
}

.input-pseudo > .glyphicon.remove {
	display: none;
}

.input-pseudo:not(.readonly):not(.disabled):hover > .text:not(:empty) ~ .glyphicon.remove {
	display: inline-block;
}

.input-pseudo:not(.readonly):not(.disabled):hover > .text:not(:empty) ~ .glyphicon.indicator {
	display: none;
}

.input-pseudo .tags {
	padding: 2px 0 2px 3px;
}

.tag {
	display: inline-block;
	overflow: hidden;
	border-radius: 2px;
	box-sizing: border-box;
	position: relative;
	float: left;
	background: #e8e8e8;
	padding: 0px 3px 0px 3px;
	margin: 2px 2px 2px 0;
	height: 20px;
	line-height: 20px;
}

.tag-label {
	display: inline;
}

.tag-remove {
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	margin: 2px 0 0 3px;
	line-height: 10px;
	font-weight: bolder;
	opacity: .3;
}

.tag-remove:hover {
	opacity: .8;
}

