<?xml version="1.0"?>
<Configuration shutdownHook="disable" packages="org.ironrhino.core.log4j">
	<Properties>
    	<Property name="app.home">/tmp/app</Property>
    	<Property name="port.http"></Property>
    	<Property name="console.logger.level">INFO</Property>
    	<Property name="hibernate.logger.level">INFO</Property>
  	</Properties>
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<ThresholdFilter level="${sys:console.logger.level}"/>
			<PatternLayout pattern="%d %c %p %m%n"/>
		</Console>
		<RollingFile name="APPLICATION" fileName="${sys:app.home}/logs/${sys:port.http}/application.log" filePattern="${sys:app.home}/logs/${sys:port.http}/application.log.%d{yyyy-MM-dd}">
			<PatternLayout pattern="%d %c %t%X{request}%X{url} %p %m%n%th{10}" charset="UTF-8"/>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<RollingFile name="ERROR" fileName="${sys:app.home}/logs/${sys:port.http}/application-error.log" filePattern="${sys:app.home}/logs/${sys:port.http}/application-error.log.%d{yyyy-MM-dd}">
			<ThresholdFilter level="ERROR"/>
			<PatternLayout pattern="%d %c %t%X{request}%X{url} %p %m%n" charset="UTF-8"/>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<RollingFile name="HIBERNATE" fileName="${sys:app.home}/logs/${sys:port.http}/hibernate.log" filePattern="${sys:app.home}/logs/${sys:port.http}/hibernate.log.%d{yyyy-MM-dd}">
			<ThresholdFilter level="ALL"/>
			<PatternLayout pattern="%d %c %t%X{request}%X{url} %p %m%n" charset="UTF-8"/>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<RollingFile name="REMOTING" fileName="${sys:app.home}/logs/${sys:port.http}/remoting.log" filePattern="${sys:app.home}/logs/${sys:port.http}/remoting.log.%d{yyyy-MM-dd}">
			<PatternLayout pattern="%d %c %t%X{request} %p %m%n%th{10}" charset="UTF-8"/>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<RollingFile name="REST" fileName="${sys:app.home}/logs/${sys:port.http}/rest.log" filePattern="${sys:app.home}/logs/${sys:port.http}/rest.log.%d{yyyy-MM-dd}">
			<PatternLayout pattern="%d %t%X{request} %X{method}%X{url} %m%n" charset="UTF-8"/>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<RollingFile name="ACCESS" fileName="${sys:app.home}/logs/${sys:port.http}/access.log" filePattern="${sys:app.home}/logs/${sys:port.http}/access.log.%d{yyyy-MM-dd}">
			<PatternLayout pattern="%d%X{username}@%X{remoteAddr} %X{method}%X{url}%X{userAgent}%X{referer}%X{request}%n" charset="UTF-8"/>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<RollingFile name="ACCESS-WARN" fileName="${sys:app.home}/logs/${sys:port.http}/access-warn.log" filePattern="${sys:app.home}/logs/${sys:port.http}/access-warn.log.%d{yyyy-MM-dd}">
			<ThresholdFilter level="WARN"/>
			<PatternLayout pattern="%d%X{username}@%X{remoteAddr} %X{method}%X{url}%X{userAgent}%X{referer}%X{request} %m%n" charset="UTF-8"/>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
	</Appenders>
	
	<Loggers>
		<Logger name="org.springframework.core.io.support.PathMatchingResourcePatternResolver" level="ERROR"/>
		<Logger name="org.springframework.core.type.classreading.AnnotationAttributesReadingVisitor" level="ERROR"/>
		<Logger name="org.springframework.security" level="WARN"/>
		<Logger name="org.hibernate.tool.hbm2ddl.TableMetadata" level="WARN"/>
		<Logger name="org.apache.struts2.config.AbstractBeanSelectionProvider" level="WARN"/>
		<Logger name="org.apache.struts2.components.ServletUrlRenderer" level="ERROR"/>
		<Logger name="com.opensymphony.xwork2.ognl.OgnlValueStack" level="ERROR"/>
		<Logger name="com.opensymphony.xwork2.config.providers.XmlConfigurationProvider" level="ERROR"/>
		<Logger name="org.hibernate.SQL" level="${sys:hibernate.logger.level}" additivity="false">
			<AppenderRef ref="HIBERNATE"/>
		</Logger>
		<Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="${sys:hibernate.logger.level}" additivity="false">
			<AppenderRef ref="HIBERNATE"/>
		</Logger>
		<Logger name="org.ironrhino.core.remoting" level="INFO" additivity="false">
			<AppenderRef ref="REMOTING"/>
		</Logger>
		<Logger name="rest" level="INFO" additivity="false">
			<AppenderRef ref="REST"/>
		</Logger>
		<Logger name="access" level="INFO" additivity="false">
			<AppenderRef ref="ACCESS"/>
		</Logger>
		<Logger name="access-warn" level="WARN" additivity="false">
			<AppenderRef ref="ACCESS-WARN"/>
		</Logger>
		<Root level="INFO">
			<AppenderRef ref="CONSOLE"/>
			<AppenderRef ref="APPLICATION"/>
			<AppenderRef ref="ERROR"/>
		</Root>
	</Loggers>
	
</Configuration>
